* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  min-height: 90vh;
}

.cartDetailsContainer {
  display: flex;
  width: 800px;
}


.cartDetailsContainerImg {
  width: 30%;
}

.cartDetailsContainerDetails {
  width: 70%;
}

.cartContainer {
  width: 750px;
}

@media only screen and (max-width: 830px) {

  .cartDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px;

  }

  .cartDetailsContainerImg {
    width: 80%;
  }

  .cartDetailsContainerDetails {
    width: 100%;
  }

  .cartContainer {
    width: 90%;
  }
}